@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --primary-color: #46f1ca;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
  --button-hover-color: #79ddc4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  /* margin: 20px 60px; */
}

.navbar h1 {
  grid-column: 1/2;
  grid-row: 1;
  display: inline-block;
}

.navbar ul {
  grid-column: 5/-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro {
  display: flex;
  flex-direction: column;
}

.intro h1 {
  font-size: 3.6rem;
}

.intro .para-1 {
  font-size: 2.2rem;
}
.intro .para-2 {
  padding-top: 20px;
}
.btn-trailer {
  margin-top: 40px;
  width: 40%;
}

.intro-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  min-height: 60vh;
}

.intro-body h3 {
  color: var(--primary-color);
  font-size: 2rem;
}

.intro-body h2 {
  font-size: 3rem;
}

.arrow {
  width: 99;
  height: 26;
}

.learning {
  background-color: #d6f7ee;
  padding: 100px 0;
}

.check-mark {
  background: url(https://slowgrowth.com/wp-content/themes/slow-growth/images/icons/check.svg)
    no-repeat;
  background-position: 0 4px;
  padding-right: 35px;
  list-style: none;
  font-size: 24px;
}

.heading {
  margin-left: 60px;
}

.advantages {
  margin-right: 60px;
}

.advantages ul li {
  margin-bottom: 15px;
  font-weight: bold;
}

.payment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  background: url(https://slowgrowth.com/wp-content/themes/slow-growth/images/textures/black-texture.png)
    #1b1b1b;
}

.paymentHeading {
  margin-bottom: 40px;
  color: #fff;
}

.paymentButtons {
  margin: 10px 0;
}

.btnn {
  padding: 16px 30px;
  width: 300px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

.btnFirst {
  background-color: var(--primary-color);
}

.testimonial {
  margin: 20px 60px;
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-img img {
  border-radius: 50%;
}

.para-test {
  margin-left: 20px;
  width: 660px;
  /* font-size: 150%; */
}

.para-test-name {
  color: var(--primary-color);
  font-size: 1.4rem;
  margin-top: 10px;
}

.check-wrong {
  background: url(https://slowgrowth.com/wp-content/themes/slow-growth/images/icons/x.svg)
    no-repeat;
  background-position: 0 4px;
  padding-right: 35px;
  list-style: none;
  font-size: 24px;
}

.adv {
  padding: 30px 0;
}

.keysHabit {
  margin: 20px 60px;
}

.discover {
  text-align: center;
}

.keys {
  padding: 40px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.keys div {
  margin: 10px;
}

.key h3 {
  text-align: center;
}
.key p {
  text-align: center;
}
.key img {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

footer {
  padding: 30px 20px;
  background: #f6f2f1;
}

.contents {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}

.contents ul {
  grid-column: 1/5;
  display: flex;
  justify-content: space-between;
}

.contents .insta {
  grid-column: 8/-1;
}

.copyright {
  padding: 20px 0;
}

.terms {
  display: flex;
  padding-top: 20px;
  cursor: pointer;
}

.terms ul {
  text-decoration: underline;
}

.terms ul:first-child {
  margin-right: 10px;
}
