/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

/* Image */
img {
  max-width: 100%;
  height: auto;
}

/* List styling for border bottom */
.navbarlist li {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  margin-right: 10px;
}
.navbarlist li:last-child {
  display: inline-block;
}

.navbarlist li:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.navbarlist li:last-child:after {
  display: none;
}

.navbarlist li:hover:after {
  width: 100%;
  background: var(--primary-color);
}

/* Buttons */
.btn {
  text-transform: uppercase;
  padding: 12px 24px;
  background-color: var(--primary-color);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

.btn:hover {
  opacity: 0.6;
  transition: 0.3s;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Margin */
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 1.5rem 0;
}
.my-3 {
  margin: 2rem 0;
}
.my-4 {
  margin: 3rem 0;
}
.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 1.5rem;
}
.m-3 {
  margin: 2rem;
}
.m-4 {
  margin: 3rem;
}
.m-5 {
  margin: 4rem;
}

.margin {
  margin: 20px 60px;
}
/* Padding */

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 1.5rem 0;
}
.py-3 {
  padding: 2rem 0;
}
.py-4 {
  padding: 3rem 0;
}
.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 1.5rem;
}
.p-3 {
  padding: 2rem;
}
.p-4 {
  padding: 3rem;
}
.p-5 {
  padding: 4rem;
}
